div > div > span {
    padding-top: 12px;
}
div > div > span.public {
  margin:11px;
  padding: 1px 7px 0 7px;
  border: 1px solid gray;
  border-radius: 0.7em;
}
.container-svg {
  padding: 9px 164px 19px 242px;
  width:60%;
  display: flex;
}
svg {
  border: 1px solid black;
}
