

.angular-logo {
  margin: 0 22px 3px 0;
  height: 35px;
  vertical-align: middle;
}
.fill-remaining-space {
flex: 1 1 auto;
margin: 0 22px 3px 0;
}
.search {
  padding: 40px;
}
.button {
  padding: 20px;
}
mat-toolbar > div > form > input[type=text] {
  height: 30px;
  width: 120%;
}
.mat-icon {
  font-size: 15px;
}

mat-toolbar {
  height: 90px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 600;
  font-family: Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
.signin{
border: 1px solid white;
    border-radius: 6px;
    padding: 5px 10px 4px 11px;
}
.mat-icon {
  margin-bottom: -10px;
}
