<div class="container" >
<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-evently center" fxFlex="68%">
  <img src="./assets/images/microsoft.png" class="microsoft">
  <span>
    Microsft
  </span>
  <span>/</span>
  <span>TypeScript</span>
  <span class="public">Public</span>

</div>

<div class="container-svg">
<div fxLayout="row">
  <mat-icon svgIcon="notification" class="arrow">
  </mat-icon><p>Notifications</p>
</div>

<div fxLayout="row">
<mat-icon svgIcon="fork">
</mat-icon><p>Fork</p>
</div>

<div fxLayout="row">
<mat-icon svgIcon="star">
</mat-icon><p>Star</p>
</div></div>
</div>

<div class="container-icon">
  <div fxLayout="column" class="column" >
    <div fxLayout="row" class="row">
      <mat-icon svgIcon="code" class="code">
      </mat-icon><p [routerLink]="['/', 'code']" routerLinkActive="active">Code</p>

      <mat-icon svgIcon="adjust">
      </mat-icon><p [routerLink]="['/', 'adjust']" routerLinkActive="active">Adjust</p>

      <mat-icon svgIcon="pull_request">
      </mat-icon><p [routerLink]="['/', 'pull_requests']" routerLinkActive="active">Pull requests</p>

      <mat-icon svgIcon="actions">
      </mat-icon><p [routerLink]="['/', 'actions']" routerLinkActive="active">Actions</p>

      <mat-icon svgIcon="security">
      </mat-icon><p [routerLink]="['/', 'security']" routerLinkActive="active">Security</p>

      <mat-icon svgIcon="insights">
      </mat-icon><p [routerLink]="['/', 'insights']" routerLinkActive="active">Insights</p>

      <mat-icon>
      </mat-icon><p [routerLink]="['/', 'list']" routerLinkActive="active">List</p>

      <mat-icon>
      </mat-icon><p [routerLink]="['/', 'formarray']" routerLinkActive="active">FormArray</p>

  </div>


</div>
  </div>



















