<div class="container" >
<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-evently center" fxFlex="68%">
  <img src="./assets/images/microsoft.png" class="microsoft">
  <span>
    Microsft
  </span>
  <span>/</span>
  <span>TypeScript</span>
  <span class="public">Public</span>

</div>


<div class="container-svg">
<mat-icon fxFlex="50%">
  <img src="/assets/icon.svg" />
</mat-icon>

<mat-icon fxFlex="50%">
  <img src="/assets/icon1.svg" />
</mat-icon>


<mat-icon fxFlex="50%">
  <img src="/assets/icon2.svg" />
</mat-icon>
</div></div>
















