<div class="border" fxLayoutAlign="end center">

  <div class="row" fxLayout="column" fxFlex="27%">
    <h2 class="about">About</h2>
    <p class="github">GitHub Pages</p>

    <div class="readme">
      <span class="material-symbols-outlined" fxGap="122px">
        import_contacts
      </span>
        <p class="readme" fxFlex="27%">ReadMe</p>
    </div>

    <div class="star">
      <span class="material-symbols-outlined">
        star
        </span>
        <p class="stars" fxFlex="27%">stars</p>
    </div>
    <div class="visit">
      <span class="material-symbols-outlined">
        visibility
        </span>
        <p class="watching" fxFlex="27%">watching</p>
    </div>


    <mat-divider></mat-divider>
    <div class="releases">
      <h2><a>Relases</a></h2>
      <div class="text">No releases published</div>
    </div>
    <mat-divider></mat-divider>
    <div class="languages">
      <h2><a>Languages</a></h2>
      <span class="progress">
        <span class="color-blue"></span>
        <span class="color-red"></span>
        <span class="color-pink"></span>
        <span class="color-yellow"></span>
      </span>
    </div>
    <ul class="programin-lang">
      <li class="TypeScript">
        <span>TypeScript</span>
        <span> 56.9%</span>
      </li>
      <li class="HTML">
        <span>HTML</span>
        <span> 22.0%</span>
      </li>
      <li class="SCSS">
        <span>SCSS</span>
        <span> 15.6%</span>
      </li>
      <li class="JavaScript">
        <span>JavaScript</span>
        <span> 5.5%</span>
      </li>
    </ul>
  </div>
</div>



