<div>

  <span fxFlex="70%">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef style="width: 48px;"> No. </th>
        <td mat-cell *matCellDef="let element" class="status" style="width: 48px;">
          <mat-icon>{{element.icon}}</mat-icon>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

       <!-- Icon Column -->
       <ng-container matColumnDef="deleteEmployee">
        <th mat-header-cell *matHeaderCellDef> deleteEmployee </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">{{element.icon}}</mat-icon> </td>
      </ng-container>

      <ng-container matColumnDef="routerLink">
        <th mat-header-cell *matHeaderCellDef> routerLink </th>
        <td mat-cell *matCellDef="let element"> ToDo</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </span>
</div>

