<mat-toolbar color="pink">

  <!-- <mat-icon svgIcon="battery-100"></mat-icon> -->
  <span fxLayoutGap="20px" >
    <img src="assets/images/github_logo.png" class="angular-logo">
    <span *ngFor="let navItem of navItems">
      <mat-button [matMenuTriggerFor]="menu" >{{navItem.name}}
      <mat-icon *ngIf="!!navItem.children">
        expand_more
      </mat-icon>
      </mat-button>
      <mat-menu #menu="matMenu" >
        <button [routerLink]="childItem?.route" *ngFor="let childItem of navItem.children" mat-menu-item>{{childItem.name}}</button>
      </mat-menu>
    </span>

  </span>
  <span class="fill-remaining-space">
  </span>

  <div class="search" >
    <form action="#">
        <input type="text"
            placeholder=" Search "
            name="search">
    </form>
</div>
  <a button mat-button class="button">Sign in</a>
  <a button mat-button class="signin">Sign up</a>
</mat-toolbar>

<app-header></app-header>
<router-outlet></router-outlet>
