<div class="container" >
  <div class="row" fxLayout="row" fxLayoutAlign="center" fxFlex="8%">
    <mat-icon svgIcon="master"></mat-icon>
    <span class="master">master</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-evenly center" style="margin-left: 50px;">
    <mat-icon svgIcon="branch"></mat-icon>
    <span class="branch">branch</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="11%" style="margin-left: 40px;">
    <mat-icon svgIcon="tags"></mat-icon>
    <span class="tags">tags</span>
  </div>
    </div>

