div.container {
  display: flex;
  padding: 20px;
  max-width: 100%;
}
.container>.row {
  border: 1px solid gray;
  border-radius: 6px;
  padding: 9px 22px 5px 16px;
}
div.row>span.branch {
  align-items: center;
  padding: 10px;
}
div.row>span.tags {
  align-items: center;
}
span {
  padding-left: 10px;
}

.btn a {
  border: 1px solid gray;
  border-radius: 6px;
  padding: 6px 22px 5px 16px;

}

div > div.btn > div {
  padding-left: 260px;
  font-weight: 400;
  font-size: 17px;
}

//* Table */
table {
  width: 100%;
}
