div.container {
  display: flex;
  padding: 20px;
  max-width: 100%;
}
.container>.row {
  border: 1px solid gray;
  border-radius: 6px;
  padding: 9px 22px 5px 16px;
}
div.row>span.branch {
  align-items: center;
  padding: 10px;
}
div.row>span.tags {
  align-items: center;
}

  span {
    padding-left: 10px;

  }

.btn a {
  background-color: #f6f8fa;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 11px 22px 5px 16px;

}

div > div.btn > div {
  padding-left: 380px;
  font-weight: 400;
  font-size: 17px;
}

div > div.btn > div > span.code {
    background-color: green;
    color: white;
    padding: 10px 10px 10px 16px;
    border-radius: 6px;
}



//* Table */
table {
  width: 100%;
  margin-left: 21px;
  border-radius: 6px;
}

