div.container {
  display: flex;
  padding: 20px;
  max-width: 100%;
}
.container>.row {
  border: 1px solid gray;
  border-radius: 6px;
  padding: 9px 22px 5px 16px;
}
div.row>span.branch {
  align-items: center;
  padding: 10px;
}
div.row>span.tags {
  align-items: center;
}

span {
  padding-left: 10px;

}

.btn a {
  background-color: #f6f8fa;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 11px 22px 5px 16px;

}

div > div.btn > div {
  padding-left: 380px;
  font-weight: 400;
  font-size: 17px;
}

div > div.btn > div > span.code {
    background-color: green;
    color: white;
    padding: 10px 10px 10px 16px;
    border-radius: 6px;
}

/* Border */
div.border > div {
  margin-top: -253px;
  gap: 10px;
}
p.github {
  font-size: 20px;
}

p.readme {
  padding-left: 10px;
  font-size: 16px !important;
}
p.stars {
  padding-left: 11px;
  font-size: 16px !important;
}

p.watching {
  padding-left: 11px;
  font-size: 16px !important;
}

/* Divider */
.mat-divider {
  width: 80%;
  margin-bottom: 30px;
}

/* Progess Bar */

.progress {
  display: flex;
  height: 11px;
  overflow: hidden;
  width: 80%;
  border-radius: 6px;
  outline: 1px solid transparent;
}
.color-blue {
  background-color: #3178c6;
  width: 56.9%;
}
.color-red {
  background-color: #e34c26;
  width: 22.0%;
}
.color-pink {
  background-color: #c6538c;
  width: 15.6%;
}
.color-yellow {
  background-color: #f1e05a;
  width: 5.5%;
}

.programin-lang {
  columns: 2;
}
li::marker  {

    font-size: 1.5rem;
    font-weight: bolder;
}
li.TypeScript::marker {
  color:#3178c6;
}
li.HTML::marker {
  color:#e34c26;
}
li.SCSS::marker {
  color:#c6538c;
}
li.JavaScript::marker {
  color:#f1e05a;
}

//* Table */
table {
  width: 100%;
  margin-left: 21px;
  border-radius: 6px;
}

