<div class="container" >
  <div class="row" fxLayout="row" fxLayoutAlign="center" fxFlex="8%" >
    <mat-icon svgIcon="master"></mat-icon>
    <span class="master">master</span>
    <mat-icon>arrow_drop_down</mat-icon>

  </div>

  <div fxLayout="row" fxLayoutAlign="space-evenly center" style="margin-left: 50px;">
    <mat-icon svgIcon="branch"></mat-icon>
    <span class="branch">branch</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="11%" style="margin-left: 40px;">
    <mat-icon svgIcon="tags"></mat-icon>
    <span class="tags">tags</span>
  </div>

  <div fxLayout="row" class="btn" fxLayoutAlign="end center" >
    <div fxLayout="row" fxLayoutGap="35px">
      <a hreg="#">Go to File</a>
      <span class="code" fxLayoutAlign="start center">Code
        <mat-icon>arrow_drop_down</mat-icon>
      </span>
    </div>

  </div>
</div>



<!-- Table -->
<div>
  <span fxFlex="70%">
    <app-table></app-table>
  </span>
  <span fxFlex="25%">
    <app-about></app-about>
  </span>
</div>
















