<ul>
  <li *ngFor="let item of items">{{ item }}</li>
</ul>

<button (click)="addItem()">Add Item</button>

<button (click)="removeItem()">Remove Item</button>

<button (click)="removefirstItem()">Remove First Item</button>

<div class="container">
  <div class="list-container">
    <div class="dragdrop column-container">
      <div class="list">
        <h2>Tech to learn</h2>
        <mat-card>
          <form [formGroup]="todForm">
            <mat-form-field appearance="outline">
              <mat-label>Task Name</mat-label>
              <input formControlName="item" matInput placeholder="Task Name">
              <mat-icon matSuffix (click)="resetItemValue()" [ngClass]="{ 'cursor-pointer': !!itemValue }">close</mat-icon>
              <mat-hint>Add task</mat-hint>
            </mat-form-field>
          </form>
          <button (click)="addTask()" mat-raised-button [disabled]="todForm.invalid" color="primary">Add</button>
          <button *ngIf="isEditEnabled" (click)="onUpdateTask()" mat-raised-button [disabled]="todForm.invalid"
            color="primary">Update</button>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="progress">
    <div cdkDropListGroup>
      <div class="row">
        <div>
          <div class="example-container" [ngClass]="{ 'cursor-pointer': items.length > 0 }">
            <h2 class="head-title">TO DO <span *ngIf="task.length > 0"> - {{task.length}}</span></h2>
            <div cdkDropList [cdkDropListData]="task" class="example-list"
              [ngClass]="{ 'cursor-pointer': task.length > 0 }" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of task; let i = index" cdkDrag
                [ngClass]="{ 'cursor-pointer': item.description }">
                {{item.description}}
                <div class="box">
                  <button mat-icon-button color="warn" (click)="deleteTask(i)"><mat-icon>delete</mat-icon></button>
                  <button mat-icon-button color="primary" (click)="onEdit(item, i)"><mat-icon>edit</mat-icon></button>
                </div>
              </div>
              <button (click)="deleteAll()" mat-raised-button color="warn">Delete All</button>
              <span class="button-space"></span>
              <button (click)="sortTask()" mat-raised-button color="warn">Sort</button>
            </div>
          </div>

          <div class="example-container cdk-drag-preview">
            <h2>IN PROGRESS</h2>
            <div cdkDropList [cdkDropListData]="inprogress" class="example-list"
              [ngClass]="{ 'cursor-pointer': inprogress.length > 0 }" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of inprogress" cdkDrag
                [ngClass]="{ 'normal-pointer': !item.description, 'cursor-pointer': item.description }">
                <ng-container *ngIf="item.description">
                  {{ item.description }}
                </ng-container>
              </div>
            </div>
          </div>

          <div class="example-container">
            <h2>DONE</h2>
            <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of done" cdkDrag
                [ngClass]="{ 'normal-pointer': !item.description, 'cursor-pointer': item.description }">
                {{ item.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
